# Dictionary

While learning about `Voikko` library, I came across [Joukahainen]("https://joukahainen.puimula.org/") library.

In this project, I use data initially from Joukahainen to classify the parts of speech from the speeches.

In [7]:
import pandas as pd
from sqlalchemy import create_engine

In [8]:
words_df = pd.read_csv("joukahainen tidy.csv")

In [9]:
print(words_df.shape)
display(words_df.head())
words_df["cla"].unique()

(56338, 2)

      form         cla
0  Aaretti  pnoun_misc
1  Agonist  pnoun_misc
2    Airam  pnoun_misc
3  Akademi  pnoun_misc
4    Akava  pnoun_misc

array(['pnoun_misc', 'pnoun_firstname', 'pnoun_place', 'pnoun_lastname',
       'noun', 'verb', 'adjective', 'interjection', 'prefix',
       'abbreviation', 'adverb', 'conjunction'], dtype=object)

â†‘ These classes can be used to distinguish between the words apparent in the text

They can be also added to the local SQL database to make handling them a bit more centralized

In [10]:
words_df = words_df.drop_duplicates()
words_df.shape

(42581, 2)

In [11]:
engine = create_engine('sqlite:///eduskunta.db', echo=False)
words_df.to_sql("Joukahainen Basic", con=engine, index=False,
           if_exists="replace")

42581